[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Prisma Welcome
Exec=prisma-welcome
Icon=gtk-info
Comment=Prisma Welcome
Name[en_US.UTF-8]=Prisma Welcome
